.react-flow {
  background: rgb(255, 255, 255);
  height: 96vh;
  width: 98vw;
}

/* .react-flow__renderer {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.react-flow__edge-path {
  /* stroke: rgb(184, 184, 185); */
  stroke-width: 2;
}

.react-flow__node-default {
  /* color: blue; */
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  width: 140px;
}

